.AppleDouble
*.pyc
:2e_*
*.tmproj
.*.swp
*.swo
build
dist
MANIFEST
docs/_build/
*.egg-info
.coverage
coverage/
coverage.xml
tests/static/
tests/assets/js/dummy.js
tests/node_modules/
.tox/
.DS_Store
.idea
.venv
.vscode
.project
.pydevproject
.ropeproject
__pycache__
npm-debug.log
tests/npm-cache
django-pipeline-*/
.tags
node_modules/
package-lock.json
