*.egg
*.egg-info
*.log
*.py[cod]
*.swo
*.tmproj
.*
:2e_*

/bin
/build
/dist
/docs/_build
/include
/lib
coverage/
django-pipeline-*/
MANIFEST
node_modules/
pip-selfcheck.json
tests/assets/js/dummy.js
tests/node_modules/
tests/npm-cache
tests/static/
