Django==1.4
Jinja2==2.6
django-appconf==0.5
django-nose==1.1
django-staticfiles==1.2.1
figleaf==0.6.1
flake8==1.4
ipdb==0.7
ipython==0.13
mock==1.0b1
nose==1.1.2
pinocchio==0.3
py==1.4.9
specloud==0.4.5
tox==1.4.2
virtualenv==1.7.2
